* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
}
body {
  height: 100%;
}
.bg-img {
  background: url('/images/D71_0895.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.3rem);
  -webkit-filter: blur(0.3rem);
  color: black;
}
.container {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 2rem;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
label {
  font-size: 1.8rem;
}
#title {
  font-size: 3.2rem;
  text-align: center;
  padding: 2rem;
}
#description {
  font-size: 2.4rem;
  text-align: center;
  margin: 2rem 5rem;
}
