* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
}
body {
  height: 100%;
}
.bg-img {
  background: url('/images/DSC00084.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  color: black;
}
.text {
  z-index: 2;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
label {
  font-size: 1.8rem;
}
#title {
  font-size: 3.2rem;
  text-align: center;
  padding: 2rem;
}
#description {
  font-size: 2.4rem;
  text-align: center;
  margin: 2rem 5rem;
}
